{
	"type": "github",
	"secret": "asdf",
	"server": "irc.efnet.org",
	"channels": {
		"#bottest": "test/nope"
	},
	"commands": ["watching"],
	"prefix": "!",
	"nick": "webhookbot",
	"opts": {
		"port": 6697,
		"secure": true
	}
}
